.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0%;
  margin-left: -70px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#faction-icon {
	cursor:unset;
}

img {
    cursor:pointer;
    max-width:100%;
    /*For centering an img*/
    display:block;
    margin:auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}